absl_py==2.1.0
aiohttp==3.10.5
anthropic==0.39.0
jsonlines==4.0.0
langchain==0.3.8
minicheck==0.1.0
nltk==3.9.1
numpy==2.1.3
openai==1.55.1
pyserini==0.38.0
rank_bm25==0.2.2
regex==2024.7.24
Requests==2.32.3
scikit_learn==1.5.2
scipy==1.14.1
spacy==3.7.6
termcolor==2.5.0
tiktoken==0.7.0
tqdm==4.66.5
unsloth==2024.11.9
